body, html{
    margin: 0;
    padding: 0;
    background-color: #8D5318;
}

.local{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(189, 179, 179);
    font-family: 'Barlow Condensed', sans-serif;
}

#map { 
    height: 300px; 
    width: 300px;
}

footer{
    font-size: 2rem;
    margin-top: 15px;
    color: rgb(189, 179, 179);
    font-family: 'Barlow Condensed', sans-serif;
}
